main {
  display: flex;
  justify-content: center;
}
div {
  border: 1px solid;
  border-radius: 25px;
  padding: 8px;
  margin-top: 60px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

.conteudoTabuada {
  background-color: white;
  border-radius: 20px;
  padding: 0 5px 0 5px;
  text-align: center;
  font-size: 27px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 15px;
}

.titulo {
  font-size: 90px;
  font-weight: bolder;
  text-align: center;
  font-family: Helvetica;
  text-shadow: 4px 4px 4px #000000;
  margin-top: auto;
  margin-bottom: 10px;
}
